<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-body>
        <iframe class="w-100" style="width: 100%;  height: 800px" src="https://atkins.sharepoint.com/sites/edpmomprjPDOCSSCContract/Lists/LS_M_PAF_REGISTER_1/AllItems.aspx" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<!-- <nb-card>
  <nb-card-header>PAF Register</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <div
                id="btnAdd"
                (click)="evtGrdAdd()"
                title=""
                style="
                  float: left;
                  margin-left: 5px;
                  width: 130px;
                  box-sizing: border-box;
                  height: 24px;
                  position: relative;
                  overflow: hidden;
                "
                class="buttonRipple jqx-rc-all jqx-rc-all-material jqx-button jqx-button-material jqx-widget jqx-widget-material jqx-fill-state-normal jqx-fill-state-normal-material"
                tabindex="-1"
                role="button"
                aria-disabled="false"
              >
                <img
                  src=""
                  width="16"
                  height="16"
                  style="display: none; position: absolute; left: 59px; top: 11px;"
                /><span
                  style="display: inline; position: absolute; left: 14.5px; top: 4px;"
                  ><i class="fa fa-plus"></i> Add New PAF</span
                >
                </div>
              </li>
              <li class="nav-item">
                <div
                id="btnDelete"
                (click)="evtDelete()"
                title=""
                style="
                  float: left;
                  margin-left: 5px;
                  width: 100px;
                  box-sizing: border-box;
                  height: 24px;
                  position: relative;
                  overflow: hidden;
                "
                class="buttonRipple jqx-rc-all jqx-rc-all-material jqx-button jqx-button-material jqx-widget jqx-widget-material jqx-fill-state-normal jqx-fill-state-normal-material"
                tabindex="-1"
                role="button"
                aria-disabled="false"
              >
                <img
                  src=""
                  width="16"
                  height="16"
                  style="display: none; position: absolute; left: 59px; top: 11px;"
                /><span
                  style="display: inline; position: absolute; left: 14.5px; top: 4px;"
                  ><i class="fa fa-trash"></i> Delete</span
                >
                </div>
              </li>
              <li class="nav-item">
                <div
                  id="btnClear"
                  (click)="evtGrdClearFilter()"
                  title=""
                  style="
                    float: left;
                    margin-left: 5px;
                    width: 120px;
                    box-sizing: border-box;
                    height: 24px;
                    position: relative;
                    overflow: hidden;
                  "
                  class="buttonRipple jqx-rc-all jqx-rc-all-material jqx-button jqx-button-material jqx-widget jqx-widget-material jqx-fill-state-normal jqx-fill-state-normal-material"
                  tabindex="-1"
                  role="button"
                  aria-disabled="false"
                >
                  <img
                    src=""
                    width="16"
                    height="16"
                    style="display: none; position: absolute; left: 59px; top: 11px;"
                  /><span
                    style="display: inline; position: absolute; left: 14.5px; top: 4px;"
                    ><i class="fa fa-eraser"></i> Clear Filter</span
                  >
              </div>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">

              <div
              id="btnExport"
              (click)="evtGrdExportXL()"
              title=""
              class="buttonRipple jqx-rc-all jqx-rc-all-material jqx-button jqx-button-material jqx-widget jqx-widget-material jqx-fill-state-normal jqx-fill-state-normal-material"
              tabindex="-1"
              role="button"
              aria-disabled="false"
              style="
                float: left;
                margin-left: 5px;
                width: 100px;
                box-sizing: border-box;
                height: 24px;
                position: relative;
                overflow: hidden;
              "
            >
              <img
                src=""
                width="16"
                height="16"
                style="display: none; position: absolute; left: 61.5px; top: 11px;"
              /><span
                style="display: inline; position: absolute; left: 10px; top: 4px;"
                ><i class="far fa-file-alt"></i> Export XL</span
              >
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="dataAdapter">
        <jqxGrid #grdPAF
        [width]="getWidth()" [source]="dataAdapter"
        [columns]="columns"
        [pageable]="true" [showstatusbar]="true"
        [showaggregates]="true"
        [filterable]="true" [autoshowfiltericon]="true"
        [autoheight]="true"
        [pagermode]="'simple'"
        [autoheight]="true"
        [editable]="true"
        [theme]="'office'"
        [renderstatusbar]="renderStatusBar"
        [sortable]="true"
        [selectionmode]="'multiplerowsextended'" [columnsresize]="true"
        (onCellbeginedit)="evtCellBeginEdit($event)" (onCellendedit)="evtOnCellEndEdit($event)"
        (onRowselect)="evtGrdOnRowSelect($event)" (onRowunselect)="evtGrdOnRowUnselect($event)"

        >
        </jqxGrid>
      </div>
    </div>
  </nb-card-body>
</nb-card>
  -->
