
.fa-trash-alt{
  font-size: 1.1rem;
  color: red;
}
.fa-edit{
  font-size: 1.1rem;
  color:#f7a000;
}
.fa-save{
  font-size: 1.1rem;
  color: #3f66da;
}
.grdBtn :hover{
  cursor:pointer !important;
}
.error{
  color:red;
}
