.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}
#lnkAtch {
  font-size: small;
}
// .input-group-sm > .input-group-prepend > .input-group-text{
//   font-size: 0.72rem !important;
//   font-weight: 600;
//   padding-top: 2px !important;
//   padding-bottom: 2px !important;
// }
// .input-group-sm > .form-control{
//   font-size: 0.72rem !important;
// }
// .custom-file-label{
//   font-size: 0.8rem;
// }
// .custom-file-input{
//   font-size: 0.8rem !important;
// }
